---
layout: page
---

<div class="content">
    {{content}}
</div>

<div class="social-container">
    <div class="social">
        <a href="https://www.linkedin.com/in/liavontsi-brechka/" target="about:_blank"><img src="/assets/img/linkedin-dark.png" alt="LinkedIn"></a>
        <a href="https://leontibrechko.medium.com" target="about:_blank"><img src="/assets/img/medium-dark.png" alt="Medium"></a>
        <a href="https://github.com/leontibrechko" target="about:_blank"><img src="/assets/img/github-dark.png" alt="Github"></a>
    </div>
</div>